<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <div class="name">林茂荣</div>
    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'home',
  components: {
    HelloWorld
  }
}
</script>

<style lang="less" scoped>
.name {
  width: 375px;
  background: pink;
  font-size: 14px;
}
</style>
